* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 2em;
}

.picture {
  border: 1px solid black;
}

img {
    height: auto;
    width: 80%;
    margin: 1em;
}

.picture, .title, .subtitle, figcaption {
  display: block;
  margin: auto;
  text-align: center;
}

ol {
  padding: 1.25em;
}

.menu {
  text-align: center;
  list-style-type: none;
}

.title, .subtitle {
  padding: 0.25em;
}